/**/*.o
/**/*.exe
/**/*.class
/**/*.sh
/**/*.

#
# Gitignore para C++
#

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#
# Gitignore para C
#

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*/**/Debug

# Paquetes finales para java
*.jar

/Practicas/Topicos/ConversorProy/nbproject/private/
/Practicas/Topicos/ConversorProy/build/
/Practicas/Topicos/ConversorProy/dist/
/Practicas/Topicos/CuadroVerificacion/nbproject/private/
/Practicas/Topicos/CuadroVerificacion/build/
/Practicas/Topicos/CuadroVerificacion/dist/
/Practicas/Topicos/02BotonesOpcion/nbproject/private/
/Practicas/Topicos/02BotonesOpcion/dist/
/Practicas/Topicos/02BotonesOpcion/build/
/Practicas/Topicos/01CuadroVerificacion/build/
/Practicas/Topicos/01CuadroVerificacion/dist/
/Practicas/Topicos/01CuadroVerificacion/nbproject/private/
/Practicas/Topicos/CuadrosLista/nbproject/private/
/Practicas/Topicos/CuadrosLista/dist/
/Practicas/Topicos/CuadrosLista/build/
/Practicas/Topicos/03CuadrosLista/nbproject/private/
/Practicas/Topicos/03CuadrosLista/dist/
/Practicas/Topicos/03CuadrosLista/build/
/Practicas/Topicos/04CuadrosCombinados/nbproject/private/
/Practicas/Topicos/04CuadrosCombinados/dist/
/Practicas/Topicos/04CuadrosCombinados/build/
/Practicas/Topicos/05ModelosCuadroLista/nbproject/private/
/Practicas/Topicos/05ModelosCuadroLista/dist/
/Practicas/Topicos/05ModelosCuadroLista/build/
/Practicas/Topicos/06ModelosCuadroLista/nbproject/private/
/Practicas/Topicos/06ModelosCuadroLista/dist/
/Practicas/Topicos/06ModelosCuadroLista/build/
/Practicas/Topicos/07ToggleButtons/nbproject/private/
/Practicas/Topicos/07ToggleButtons/dist/
/Practicas/Topicos/07ToggleButtons/build/
/Practicas/Topicos/08Sliders/nbproject/private/
/Practicas/Topicos/08Sliders/dist/
/Practicas/Topicos/08Sliders/build/
/Practicas/Topicos/09Spinner/nbproject/private/
/Practicas/Topicos/09Spinner/dist/
/Practicas/Topicos/09Spinner/build/
/Practicas/Topicos/06ModelosComboLista/nbproject/private/
/Practicas/Topicos/06ModelosComboLista/dist/
/Practicas/Topicos/06ModelosComboLista/build/
/Practicas/Topicos/10BarraDesplazamiento/nbproject/private/
/Practicas/Topicos/10BarraDesplazamiento/dist/
/Practicas/Topicos/10BarraDesplazamiento/build/
/Practicas/Topicos/11BarraMenu/nbproject/private/
/Practicas/Topicos/11BarraMenu/dist/
/Practicas/Topicos/11BarraMenu/build/
/Practicas/Topicos/12BarraHerramienta/nbproject/private/
/Practicas/Topicos/12BarraHerramienta/dist/
/Practicas/Topicos/12BarraHerramienta/build/
/Practicas/Topicos/13MenuEmergente/nbproject/private/
/Practicas/Topicos/13MenuEmergente/dist/
/Practicas/Topicos/13MenuEmergente/build/
/Practicas/ODBC java/ODBCSqlite3/nbproject/private/
/Practicas/ODBC java/ODBCSqlite3/build/
/Practicas/ODBC java/ODBCMysql/nbproject/private/
/Practicas/ODBC java/ODBCMysql/build/
/Practicas/ODBC java/14FileChooser/nbproject/private/
/Practicas/Topicos/14FileChooser/nbproject/private/
/Practicas/Topicos/14FileChooser/dist/
/Practicas/Topicos/14FileChooser/build/
/Practicas/Topicos/14PanelDesplazamiento/nbproject/private/
/Practicas/Topicos/14PanelDesplazamiento/dist/
/Practicas/Topicos/15PanelDesplazamiento/nbproject/private/
/Practicas/Topicos/15PanelDesplazamiento/build/
/Practicas/Topicos/15PanelDesplazamiento/dist/
/Practicas/Topicos/15-2PanelDesplazamiento/nbproject/private/
/Practicas/Topicos/15-2PanelDesplazamiento/dist/
/Practicas/Topicos/15-2PanelDesplazamiento/build/
/Practicas/Topicos/16VariablesGlobales/nbproject/private/
/Practicas/Topicos/16VariablesGlobales/dist/
/Practicas/Topicos/16VariablesGlobales/build/
/Practicas/Topicos/17CentralizarCodigo/nbproject/private/
/Practicas/Topicos/17CentralizarCodigo/dist/
/Practicas/Topicos/17CentralizarCodigo/build/
/Practicas/Topicos/18Laouts/nbproject/private/
/Practicas/Topicos/18Layouts/nbproject/private/
/Practicas/Topicos/19LayoutYPaneles/nbproject/private/
/Practicas/Topicos/19LayoutYPaneles/dist/
/Practicas/Topicos/19LayoutYPaneles/build/
/Practicas/Topicos/20CuadroDialogo/nbproject/private/
/Practicas/Topicos/20CuadroDialogo/dist/
/Practicas/Topicos/20CuadroDialogo/build/
/Practicas/Topicos/21VentanaDiseño/nbproject/private/
/Practicas/Topicos/21VentanaDiseño/dist/
/Practicas/Topicos/21VentanaDiseño/build/
/Practicas/Topicos/21-24VentanaDiseño/nbproject/private/
/Practicas/Topicos/21-24VentanaDiseño/build/
/Practicas/Topicos/21-24VentanaDiseño/dist/
/Practicas/Topicos/21-22VentanaDiseño/nbproject/private/
/Practicas/Topicos/21-22VentanaDiseño/dist/
/Practicas/Topicos/21-22VentanaDiseño/build/
/Practicas/Topicos/23EventosRaton/nbproject/private/
/Practicas/Topicos/23EventosRaton/dist/
/Practicas/Topicos/23EventosRaton/build/
/Practicas/Topicos/23-24EventosRaton/nbproject/private/
/Practicas/Topicos/23-24EventosRaton/dist/
/Practicas/Topicos/23-24EventosRaton/build/
/Practicas/Topicos/25Vectores/nbproject/private/
/Practicas/Topicos/25Vectores/dist/
/Practicas/Topicos/25Vectores/build/
/Practicas/Topicos/26VectoresEventos/nbproject/private/
/Practicas/Topicos/26VectoresEventos/dist/
/Practicas/Topicos/26VectoresEventos/build/
/Practicas/Topicos/27-30POOMulticines/nbproject/private/
/Practicas/Topicos/27-30POOMulticines/dist/
/Practicas/Topicos/27-30POOMulticines/build/
/Practicas/Topicos/31Herencia/nbproject/private/
/Practicas/Topicos/31Herencia/dist/
/Practicas/Topicos/31Herencia/build/
/Practicas/Topicos/32HerenciaJDialog/nbproject/private/
/Practicas/Topicos/32HerenciaJDialog/dist/
/Practicas/Topicos/32HerenciaJDialog/build/
/Practicas/Topicos/33ReutilizarCodigo/nbproject/private/
/Practicas/Topicos/33ReutilizarCodigo/dist/
/Practicas/Topicos/33ReutilizarCodigo/build/
/Practicas/Topicos/33-2BibliotecasDeClases/nbproject/private/
/Practicas/Topicos/33-2BibliotecasDeClases/build/
/Practicas/Topicos/33-2BibliotecasDeClases/dist/
/Practicas/Topicos/33-3UsoLibrerias/nbproject/private/
/Practicas/Topicos/33-3UsoLibrerias/dist/
/Practicas/Topicos/33-3UsoLibrerias/build/
/Practicas/Topicos/34MDI/nbproject/private/
/Practicas/Topicos/34MDI/dist/
/Practicas/Topicos/34MDI/build/
/Topicos avanzados de programacion/Repaso/nbproject/private/
/Topicos avanzados de programacion/Repaso/build/
/Topicos avanzados de programacion/Repaso/dist/