/**/*.o
/**/*.exe
/**/*.class
/**/*.sh
/**/*.

#
# Gitignore para C++
#

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#
# Gitignore para C
#

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*/**/Debug

# Paquetes finales para java
*.jar

/Practicas/Topicos/ConversorProy/nbproject/private/
/Practicas/Topicos/ConversorProy/build/
/Practicas/Topicos/ConversorProy/dist/
/Practicas/Topicos/CuadroVerificacion/nbproject/private/
/Practicas/Topicos/CuadroVerificacion/build/
/Practicas/Topicos/CuadroVerificacion/dist/
/Practicas/Topicos/02BotonesOpcion/nbproject/private/
/Practicas/Topicos/02BotonesOpcion/dist/
/Practicas/Topicos/02BotonesOpcion/build/
/Practicas/Topicos/01CuadroVerificacion/build/
/Practicas/Topicos/01CuadroVerificacion/dist/
/Practicas/Topicos/01CuadroVerificacion/nbproject/private/
/Practicas/Topicos/CuadrosLista/nbproject/private/
/Practicas/Topicos/CuadrosLista/dist/
/Practicas/Topicos/CuadrosLista/build/
/Practicas/Topicos/03CuadrosLista/nbproject/private/
/Practicas/Topicos/03CuadrosLista/dist/
/Practicas/Topicos/03CuadrosLista/build/
/Practicas/Topicos/04CuadrosCombinados/nbproject/private/
/Practicas/Topicos/04CuadrosCombinados/dist/
/Practicas/Topicos/04CuadrosCombinados/build/
/Practicas/Topicos/05ModelosCuadroLista/nbproject/private/
/Practicas/Topicos/05ModelosCuadroLista/dist/
/Practicas/Topicos/05ModelosCuadroLista/build/